<!DOCTYPE html>
<html>
<head>
  <title>DebugDevise</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<h2>Existing users's authentication token</h2>
<%= render partial: '/users/user', collection: @users %>

<%= yield %>

</body>
</html>
